@media only screen and (max-width: 639px) and (min-width: 1px) {
	#restaurants-list li {
    	max-width: 90%;
}}
@media only screen and (min-width: 1070px) {
	#restaurants-list li {
    	max-width: 30%;
}}
@media (min-width: 930px) {
	.inside #map-container {
	    background: blue none repeat scroll 0 0;
	    height: 88%;
	    position: fixed;
	    right: 0;
	    top: 80px;
	    width: 50%;
	   }
}
