@media (max-width: 639px) and (min-width: 1px) {
	#restaurants-list li {
    	max-width: 90%;
}}
@media (min-width: 1070px) {
	#restaurants-list li {
    	max-width: 30%;
}}
@media (min-width: 930px) {
	.inside #map-container {
	    background: blue none repeat scroll 0 0;
	    height: 88%;
	    position: fixed;
	    right: 0;
	    top: 80px;
	    width: 50%;
	   }
}
@media (max-width: 700px) {
	section {
    	min-width: 85%;
    	padding: 0;
    	margin: 0;
	}
	.inside header {
		position: static;
	}
	#restaurant-container {
		padding: 40px 40px 30px;
	}
	.inside #map-container {
		height: 300px;
		width: 100%;
		position: static;
	}
	#breadcrumb {
	    width: 100%;
	}
	.inside #footer {
		width: 100%;
		position: static;
	}
	#map {
		position: static;
	}
}
